/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.nav-bar {
    background: #4a4f03;
    color: rgb(255, 254, 254);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    text-decoration: none;
}

/* Home */
.home-container {
    text-align: center;
    padding: 40px;
}

.book-btn {
    display: inline-block;
    background: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
    border-radius: 4px;
}

.game-gallery img {
    width: 180px;
    margin: 10px;
    border-radius: 10px;
}

.form-title {
    text-align: center;
}

/* Forms */
form {
    width: 350px;
    margin: auto;
    padding: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

/* Dashboard */
.game-list a {
    display: block;
    padding: 15px;
    background: #F5F5DC;
    margin: 10px;
    text-decoration: none;
}
